<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>

<body>
  <h1>This is the Home Page <%= 4+5+6 %></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa commodi id distinctio enim impedit! Ea optio eaque
    ipsa facere eveniet fuga eum provident nesciunt officia sapiente sunt, perspiciatis consequuntur tenetur.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa ipsam cupiditate quibusdam earum numquam, animi
    temporibus placeat id eligendi ea cumque architecto, sit rem ex suscipit, beatae quo? Beatae, ipsa.</p>


  </body>

</html>